<div class="row" >
  <div class="col-xs-12 col-sm-6 col-md-3 p-3" *ngFor="let character of characters">
    <div class="card">
      <div class="image">
        <a (click)="goCharacter(character.id)">
          <img [src]="character.image" [alt]="character.image" class="card-img-top">
        </a>
      </div>
      <div class="card-inner">
        <div class="header">
          <a (click)="goCharacter(character.id)">
            <h2>{{character.name}}</h2>
          </a>
          <h4 class="text-muted">{{ character.gender }}</h4>
          <h5 class="text-muted">{{ character.species }}</h5>
          <p class="text-muted">{{character.origin.name}}</p>
          <small class="text-muted">{{ character.created | date}}</small>
        </div>
      </div>
    </div>
  </div>
</div>